.search {
  right: 15px;
  top: 30px;
  position: absolute;
  display: inline-block;
}
.search input {
  width: 0px;
  height: 34px;
  background-color: #000;
  box-shadow: none;
  color: #fff;
  border: 1px solid transparent;
  outline: none;
  padding-left: 35px;
  font-size: 16px;
  transition: 0.3s ease all;
}
.search input.toggle {
  width: 240px;
  border-color: #fff;
}
.search img {
  width: 18px;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
